    <div class="form-group">
                            <label for="exampleInputFile">Attachment(s)</label>
                            <input type="file" id="exampleInputFile" onchange={{action "uploadFile"}} >
                        </div>
                               
                               <div class="form-group {{if files.length 'show' 'hide' }}">
        <ol >
        {{#each files as |file|}}
        <li>
        {{file.name}}&nbsp;({{file.size}})
         &nbsp;<span  {{action 'removeFile' file}} class="glyphicon glyphicon-remove pointer" aria-hidden="true"></span>
        </li>
        {{/each}}
        </ol>
        </div>