{{#if isEditing}}
<div class="btn btn-social" style="padding: 3px;"> 
    <a rel="popover" target="blank" href="{{item.driveLink}}" style="" class="pointer span" {{action "hovered" on="mouseEnter"}}>{{item.shortName}}</a>
  </div>
 
   <span class="{{if item.showLoading 'inlinedisplay' 'nodisplay' }}"><img src="/img/loading.gif" /></span>
        &nbsp;<span  {{action 'removeFile' file}} class="glyphicon glyphicon-remove pointer inlineblock" aria-hidden="true"></span>
{{else }}
<div>
<img class="post-slide-images" src="{{item.thumbnailLink}}" {{action 'openFile' item}} data-toggle="tooltip" title={{item.name}} style="border: 1px solid #c7c7c7">
<span class="file-name pos-abs inlinedisplay">{{item.shortName}}</span>
<i  class="fa fa-lg fa-book file-library-btn pointer pos-abs {{if item.showLoading 'hide' 'show' }}" {{action "addToLibrary" item}}  ></i>
<span class="loader-library-adding pos-abs {{if item.showLoading 'inlinedisplay' 'nodisplay' }}"><img src="/img/loading.gif" /></span>
</div>
{{/if}}


<!--  <div class="btn btn-social" style="padding: 3px;"> 
    <a rel="popover" target="blank" href="{{item.driveLink}}" style="" class="pointer span" {{action "hovered" on="mouseEnter"}}>{{item.shortName}}</a>
  </div>
  
   <a class="{{if item.isDriveFile 'hide' 'show-inline' }}  btn btn-social"  data-toggle="tooltip" title="Download" style="margin-left: 2px;border-right: 1px solid rgba(255, 255, 255, 0.3);" target="blank" href="/a/secure/group/download?name={{item.serverName}}" download> <i class="fa fa-lg fa-download" aria-hidden="true"></i></a>
  <a class="{{if item.isDriveFile   'show-inline' 'hide'}}  btn btn-social"  data-toggle="tooltip" title="Open in browser" style="float: right;margin-left: 2px;border-right: 1px solid rgba(255, 255, 255, 0.3);" target="blank" href="{{item.driveLink}}" > <i  class="fa fa-lg fa-external-link" aria-hidden="true"></i></a>
 
 
  <button class="{{if item.isDriveFile  'show-inline' 'hide'}} btn btn-social" style=""  {{action "addToLibrary" item}}
   data-toggle="tooltip" title="add to library" disabled={{if item.showLoading true}}> <i  class="fa fa-lg fa-book" aria-hidden="true"></i></button>
 
  
   <span class="{{if item.showLoading 'inlinedisplay' 'nodisplay' }}"><img src="/img/loading.gif" /></span>
   
        &nbsp;<span  {{action 'removeFile' file}} class="glyphicon glyphicon-remove pointer {{if isEditing 'inlineblock' 'hide'}}" aria-hidden="true"></span>
                     <div class="popover-box" class=" {{if showPreview 'show' 'hide' }}">
                                        <div class="popover fade left in"  >
                                            <div class="arrow" ></div>
                                            <div class="popover-content">
                                                <div class="popup-file-preview">
                                                    <img  src="{{item.thumbnailLink}}">
                                                </div>
                                                
                                            </div>
                                       </div>     
                                    </div>
         -->
