<!-- <div placeholder="{{placeholder}}" contenteditable="true" id="ember542" class="contenteditable form-control {{className}}"
disabled={{disabled}}></div>   -->

<div placeholder="{{placeholder}}" contenteditable="true" id="ember542" style="border-color: cornflowerblue;
    border-style: double;"
class="contenteditable form-control {{className}}" disabled={{disabled}}></div>
