<div class="form-horizontal">
    <div class="form-group hapost-comment-boxs-feedback ">
        <div class="col-sm-12">
           {{post-comment-box controllerRef=controllerRef className="post-description" placeholder="Share your thoughts."   recipientList=item.recipients value=item.comment autoCompleteList=myList disabled=item.isSaving}}
        <small class="text-info pull-right">Tip : Use @ to tag people. Eg, type "@abc@gmail.com" + Enter</small>
        </div>
        <div class="col-sm-12" class="{{if item.files.length 'show' 'hide' }}">
        <ol >
        {{#each item.files as |file|}}
        <li>
        {{file.name}}&nbsp;({{file.size}})
         &nbsp;<span  {{action 'removeFile' file}} class="glyphicon glyphicon-remove pointer" aria-hidden="true"></span>
        </li>
        {{/each}}
        </ol>
        </div>
    </div>
    
     
    <div class="form-group">
        <div class="col-sm-10">
        <span class="{{if item.showLoading 'inlinedisplay' 'nodisplay' }}"><img src="/img/loading.gif" /></span>

            <button type="button" class="btn btn-default" {{action 'savePost' item}} disabled={{unless item.isValid true}}>{{buttonLabel}}</button>
         <button type="button" {{action 'attachFilesClick'}}    class="btn btn-default"  disabled={{if item.showLoading true}}>Attach Files</button>
              <button type="button" class="btn btn-default" {{action 'cancelClicked' item}}>Cancel</button>
              
               <input  multiple id="file-upload" onchange={{action "uploadFile"}} type="file" style="width: 0px; height: 0px; overflow: hidden;"  >
        </div>
    </div>
</div>