  <div class="col-md-12 col-sm-12 col-lg-12">
        <div class="panel panel-white post panel-shadow">
            <div class="post-heading col-md-12 col-sm-12 col-lg-12">
                <div class="col-md-1 col-sm-1 col-lg-1">
                    <img src="{{item.photoUrl}}" class="img-circle avatar" alt="user profile image">
                </div>
                <div class="col-md-9 col-sm-9 col-lg-9">
                	<div>
	                    <div class="">
                        {{#link-to 'profile' item.postCreatorId}}<b>{{item.createdByName}}</b>{{/link-to}}
                                    <!--<a href="javascript:void(0);"><b>{{item.createdByName}}</b></a>-->
                                   {{#if item.isPrivatePost}}
                         posted in <b> {{#link-to 'group.posts' item.groupId tagName="a" class="text-muted cp"}}{{item.groupName}}{{/link-to}}</b>.
                         {{/if}}
	                    </div>
	                   <div class="text-muted time">
                       <i class="fa fa-clock-o" data-toggle="tooltip" title="Posted On"></i>
                       {{item.createdDisplayTime}}
                     </div>
                   </div>


                   {{#if canDelete}}
                   <div class="row">
 		                 <footer class="comment__footer col-md-5 col-sm-5 col-lg-5">
                        <menu class="comment-footer__menu">
                           {{#if canEdit}}
            								<li class="reply {{unless item.isEditing 'show' 'hide'}}" {{action "editPost"}} data-role="reply-link">
                              <button class="btn btn-default">
                                <i class="fa fa-pencil text-primary" style="width: 12px;" data-toggle="tooltip" title="Edit Task"></i>
                              </button>
                           </li>

                           <li class="reply {{if item.isEditing 'show' 'hide'}}" {{action "updatePost"}} data-role="reply-link">
                             <button class="btn btn-default">
                               <span class="text text-success" style="">Save</span>
                             </button>
                           </li>

                           <li class="reply {{if item.isEditing 'show' 'hide'}}" {{action "cancelEditing"}} data-role="reply-link">
                             <button class="btn btn-default">
                               <span class="text text-danger" style="">Cancel</span>
                             </button>
                           </li>

         								  <li class="reply {{if item.isEditing 'show' 'hide'}}" disabled={{if item.isSaving true}} data-role="reply-link"  onclick="$(this).parent('menu').find('.file-upload').click();"  >
                               <button class="btn btn-default">
         									        <span class="text text-primary">Attach Files</span>
                               </button>
         									    <span class="{{if item.isUploading 'inlinedisplay' 'nodisplay' }}"><img src="/img/loading.gif" /></span>
         									 </li>
            								{{/if}}
            								{{#if canDelete}}
            								  <li class="reply {{unless item.isEditing 'show' 'hide'}}"  data-role="reply-link" {{action "deletePost"}}>
                                <button class="btn btn-default">
                                  <i class="fa fa-trash text-danger" style="width: 12px;" data-toggle="tooltip" title="Delete Post"></i>
                                </button>
                              </li>
            								{{/if}}

   								        <input accept="image/*" multiple class="file-upload" onchange={{action "uploadFile"}} type="file" style="width: 0px; height: 0px; overflow: hidden;"  >
         							</menu>
         						</footer>
                     <br>
         					</div>
 	                {{/if}}




                   <!-- <div class="row">
		                 <footer class="comment__footer col-md-5 col-sm-5 col-lg-5"><menu class="comment-footer__menu">
								{{#if canEdit}}
								<li class="reply {{unless item.isEditing 'show' 'hide'}}" {{action "editPost"}} data-role="reply-link"><a href="javascript:void(0);"
									data-action="reply"> <span class="text">Edit</span></a></li>
									<li class="reply {{if item.isEditing 'show' 'hide'}}" {{action "cancelEditing"}} data-role="reply-link"><a href="javascript:void(0);"
									data-action="reply"> <span class="text">Cancel Editing</span></a></li>
								<li class="bullet" aria-hidden="true">•</li>
								<li class="reply {{if item.isEditing 'show' 'hide'}}" disabled={{if item.isSaving true}} data-role="reply-link" onclick="$(this).parent('menu').find('.file-upload').click();" ><a href="javascript:void(0);"
									data-action="reply"> <span class="text">Attach Files</span></a>
									 <span class="{{if item.isUploading 'inlinedisplay' 'nodisplay' }}"><img src="/img/loading.gif" /></span>
									 </li>
								{{/if}}
								{{#if canDelete}}
									<li class="reply {{unless item.isEditing 'show' 'hide'}}" data-role="reply-link" {{action "deletePost"}}><a href="javascript:void(0);"
									data-action="reply"> <span class="text">Delete</span></a></li>
								{{/if}}
								 <input accept="image/*" multiple class="file-upload" onchange={{action "uploadFile"}} type="file" style="width: 0px; height: 0px; overflow: hidden;"  >
							</menu>
						</footer>
					</div> -->
              <div style=" padding-top: 7px">
                <div class="label label-primary" style="font-size: 12px">
                  {{#if isCreator}} You have created this invitation.
                  {{else if postRecipient.scheduleResponse}} You have replied <b>" {{postRecipient.scheduleResponse}} "</b> to this invitation.
                  {{else}} Your response is pending on this event.
                  {{/if}}
                </div>
                <div style="padding-top : 7px;">
                     {{#if isCreator}}
                       <button class="btn btn-default disabled">
                         <span class="text text-success">Yes- {{item.reponseYes}}</span>
                       </button>
                       <button class="btn btn-default disabled">
                         <span class="text text-info">May be- {{item.reponseMaybe}}</span>
                       </button>
                       <button class="btn btn-default disabled">
                         <span class="text text-danger">No- {{item.reponseNo}}</span>
                       </button>

                     {{else}}
                       <button class="btn btn-default {{if isAccepted 'disabled' 'default' }}" {{action 'updateRecipientRes' "ACCEPTED"}}>
                         <span class="text text-success">Yes</span>
                       </button>
                       <button class="btn btn-default {{if isTentative 'disabled' 'default' }}" {{action 'updateRecipientRes' "TENTATIVE"}}>
                         <span class="text text-info">May be</span>
                       </button>
                       <button class="btn btn-default {{if isDeclined 'disabled' 'default' }}" {{action 'updateRecipientRes' "DECLINED"}}>
                         <span class="text text-danger">No</span>
                       </button>

                     {{/if}}
                 </div>
               </div>

    					<div class="row">
    					  	<div class="col-md-12 col-sm-12 col-lg-12">
    					  		<div ><h5><b>Invitation </b>{{item.title}}</h5></div>
    					  		<div ><h6><b>Location </b>{{item.location}}</h6></div>
    					  		<div ><h6><b>Timing </b>: {{item.fromDisplayTime}} - {{item.toDisplayTime}}</h6></div>
    			                <div class="{{unless item.isEditing 'show' 'hide'}}">{{{item.comment}}}</div>
    			                <div class="{{if item.isEditing 'show' 'hide'}}">
                            {{post-comment-box className="post-description edit-post"   save='updatePost' esc-key='cancelEditing'  value=item.comment autoCompleteList=myList disabled=item.isSaving}}
                          </div>
    			                <div class="col-sm-12" class="{{if item.files.length 'show' 'hide' }} attachment-view" style="">
    						        {{post-item-files-list-preview item=item  }}
    			       			</div>
    			       	 	</div>
    			     </div>


		       		 <div  class="stats {{unless item.isEditing 'show' 'hide'}}">
		                    <a href="javascript:void(0);" class="btn btn-default stat-item" disabled={{disableReactButton}} {{action "reactToPost"}}>
		                        <i class="fa fa-thumbs-up icon"></i>{{item.numberOfReactions}}
		                    </a>
		           	</div>
			     </div>
         </div>
       <div class="post-footer {{if item.isEditing 'hideBorder' ''}}">
              <div class="input-group contenteditable-input-group" >
                    {{post-comment-box className="" placeholder="Add a comment"  save='saveComment'  recipientList=recipientList value=postComment autoCompleteList=myList disabled=isSaving}}
                </div>
                <ul class="comments-list" style="padding-left: 1%;">
                {{#each item.comments as |comment|}}
              {{post-item-comment item=comment update="updateComment" deleteComment="deleteComment" group=group}}
                {{/each}}
                </ul>
         </div>

     </div>
    </div>
