  <div class="form-group mtop">
                                      <div class="col-md-5">
                    		     {{bootstrap-datepicker autoclose=true placeholder=title changeDate='addDate' class="form-control" value=dateValue readonly=true format='dd-M-yyyy'}}
                    		     </div>
                    		     <div class="col-md-3 {{if item.allDayEvent 'hide' ''}}">
								{{select-box content=hoursArray 
								className='form-control' didChangeAction='addHour' }} 
                    		     </div>
                    		      <div class="col-md-3 {{if item.allDayEvent 'hide' ''}}">
								{{select-box content=minutesArray 
								className='form-control' didChangeAction='addMinutes' }} 
                    		     </div>
                    		     <div class="clearfix"></div>
                       </div> 