<div class="row">
   <div class="box box-primary">
       <div class="box-header" style="background-color: #f5f5f5;">
         <div class="row">
           <div class="col-md-3" style="margin-left: 2%">
             Quiz Id : {{model.id}}
           </div>
           <div class="col-md-6">
             Title : {{model.name}} <br>
             Subject : {{model.subject}}
           </div>
           <div class="col-md-2">
             Max. Marks : {{model.marks}}<br>
             Time : 60 Min.
           </div>
         </div>
       </div><!-- /.box-header -->
       <br>
       <!-- form start -->
       <form role="form">
           <div class="box-body">
              <div class="form-group overflow-hide">
                <div>
                   {{#each model.questions as |question|}}
                      <button {{action "clickQuesionNo" question}}>
                        {{question.number}}
                      </button>
                   {{/each}}
                </div>
                <br>
                <div>
                   <p class="question">
                     <b>({{selectedQuestion.number}}) {{selectedQuestion.title}}</b>
                   </p>
                   <ul class="answers">
                   {{#each selectedQuestion.options as |option|}}
                       <input type="radio" name="option.title" value="option" id="option.id"><label for="option.title" style="margin-left: 8px">({{option.number}}) {{option.title}}</label><br/>
                     {{/each}}
                   </ul>
                </div>
              </div>

              <div class="row" style="background-color: #f5f5f5;">
                <div class="col-md-12">
                  Your Answer : (A){{selectedQuestion.markedAnswer}}<br>
                  Correct Answer : (C){{selectedQuestion.correctAnswer}}
                </div>
              </div>
              <br>
              <div class="row" style="background-color: #f5f5f5;">
                <div class="col-md-12">
                  <b>Detailed Solution:</b>
                  <p>
                    The reason is tha bubble sort is the fastest.
                    {{selectedQuestion.detailSolution}}
                  </p>
                </div>

              </div>


              <div class="box-footer overflow-hide">
                  <div class="row">
                    <div class="col-md-4">
                      <button type="submit" class="btn btn-primary" {{action 'saveTask' model}} >Finish Quiz</button>
                    </div>
                    <div class="col-md-4">
                      <button type="submit" disabled={{isPrevDisabled}} class="btn btn-primary" {{action 'previousQuestion'}} >Previous</button>
                    </div>
                    <div class="col-md-4">
                      <button type="submit" disabled={{isNextDisabled}} class="btn btn-primary" {{action 'nextQuestion'}} >Next</button>
                    </div>
                  </div>
              </div>
          </div><!-- /.box-body -->
       </form>
   </div><!-- /.box -->
</div>
