<div class="row">
   <div class="box box-primary">
       <div class="box-header" style="background-color: #f5f5f5;">
         <div class="row">
           <div class="col-md-3" style="margin-left: 2%">
             Quiz Id : {{model.id}}
           </div>
           <div class="col-md-6">
             Title : {{model.name}} <br>
             Subject : {{model.subject}}
           </div>
           <div class="col-md-2">
             Max. Marks : {{model.marks}}<br>
             Time : 60 Min.
           </div>
         </div>
       </div><!-- /.box-header -->
       <br>
       <!-- form start -->
        {{quiz-play items=model.questions quizId=model.id  saveAnsweredQuestion="saveAnsweredQuestion"}}
   </div><!-- /.box -->
</div>
