  <div class="row">
                <div class="col-lg-12">
                    <h3 class="page-header">Recent
                  </h3>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->

 <div class="row">
 <div class="row">
 {{#if model.isTask}}
 {{task-item item=model updateTask="saveTask" deletePost="deletePost" group=model }}
 {{else if model.isPost}}
{{post-item item=model updatePost="savePost" deletePost="deletePost" group=model }}
{{else if model.isSchedule}}
{{schedule-item item=model updatePost="savePost" deletePost="deletePost"  group=model }}
{{/if}}
</div>   

{{#if noRecords}}
 <div class="row">
Post not found
 </div>
 {{/if}}
</div>            