 <section class="content-header">
    <h1>
       {{model.name}} - <small>Group</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="/home"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Posts</li>
    </ol>
</section>

<br>

<div class="row" style="margin-left:0px; margin-right:0px">
    <div class="col-sm-12">
    	{{#if model.isAdmin}}
		     <button {{action 'showJoinRquests' model}} class="btn btn-default" >
           <i class="fa fa-user text-primary" style="width: 15px; margin: 5px "></i> Requests
         </button>
		  {{/if}}
      {{#if model.isAdmin}}
          <a href="#" data-toggle="modal" {{action 'showAddMemberModal' model}}>
            <button class="btn btn-default">
              <i class="fa fa-plus text-primary" style="width: 15px; margin: 5px "></i> Members
            </button>
          </a>
      {{/if}}
      {{#if model.isAdmin}}
          <a href="#" data-toggle="modal" {{action 'confirmAndDeleteGroup' model}}>
            <button class="btn btn-default">
              <i class="fa fa-trash text-dangers" style="width: 15px; margin: 5px "></i> Delete
            </button>
          </a>
      {{/if}}
    </div>
    <!-- /.col-lg-12 -->
</div>

<hr style="margin-top: 3px">

<form class="form-horizontal" name="deviceForm">
<div class="col-sm-6">
  <div class="form-group" >
    <label for="inputEmail3" class="col-sm-4 control-label">Name</label>
    <div class="col-sm-8">
   <p class="form-control-static"> {{model.name}}</p>
    </div>
  </div>
  {{#if model.instituteName}}
    <div class="form-group" >
    <label for="inputEmail3" class="col-sm-4 control-label">Institute</label>
    <div class="col-sm-8">
   <p class="form-control-static"> {{model.instituteName}}</p>
    </div>
  </div>
  {{/if}}

    <div class="form-group" >
    <label for="inputEmail3" class="col-sm-4 control-label">Attendance Allowed</label>
    <div class="col-sm-8">
   <p class="form-control-static"> {{#if model.isGroupAttendaceAllowed}} Yes {{else}} No{{/if}}</p>
    </div>
  </div>

<!--       <div class="form-group" >
    <label for="inputEmail3" class="col-sm-4 control-label">Language</label>
    <div class="col-sm-8">
     <p class="form-control-static"> {{#each model.languagesUI as |lang|}}
                <span class="file-tag blue" >
    	{{lang.label}}
    </span>
    	{{/each}}</p>
    </div>
  </div> -->

</div>

<div class="col-sm-6" >
    <div class="form-group" >
    	<label for="inputEmail3" class="col-sm-4 control-label">Description</label>
    <div class="col-sm-8">
     <p class="form-control-static"> {{model.description}}</p>
    </div>
  	</div>

<!--     <div class="form-group">
    <label for="inputEmail3" class="col-sm-4 control-label">Sharing</label>
    <div class="col-sm-8">
    <p class="form-control-static"> {{model.sharing}}</p>
    </div>
  </div>
   -->
    <div class="form-group">
    	<label for="inputEmail3" class="col-sm-4 control-label">Tags</label>
    	<div class="col-sm-8">
     		<p class="form-control-static">
       			{{#each model.tags as |tag|}}
                	<span class="file-tag blue" >{{tag.name}}</span>
    			{{/each}}
    	   </p>
    	</div>
  	</div>
  </div>

  </form>

 {{#if model.isAdmin}}
 <div class="col-sm-12" >
 	<div class= "col-sm-6" style="padding-left: 0px">
	 <div class="box">
		    <div class="box-header">
		        <h3 class="box-title">Groups Members</h3>
		        <div class="box-tools">
                    <button  {{action 'showMembers' model}} class="btn btn-default pull-right" >Show</button>
                </div>
		    </div><!-- /.box-header -->
		    <div class="box-body no-padding group-view-member-list" style="max-height: 225px;overflow-y: scroll;">
		    {{auto-scroll elemClass='group-view-member-list' scrollAction="fetchMoreMembers" }}
		        <table class="table">
		            <tbody><tr>
		                <th>Name</th>
		                <th>Email</th>
		                <th>Action</th>
		            </tr>

		            {{#each model.members as |user| }}
		            <tr>
		                <td>{{user.name}}</td>
		                <td>{{user.email}}</td>
		                <td>
		                	 <button type="button" {{action "deleteMember" user}} class="btn btn-sm btn-default mr-5" ><i class="fa fa-trash text-danger" aria-hidden="true"></i></button>
	                         <button type="button" {{action "toggleBlockMember" user}} class="btn btn-sm btn-default mr-5  {{if user.isBlocked 'black-border-1px' ''}}" ><i class="fa fa-ban text-warning {{if user.isBlocked 'text-danger'}}" aria-hidden="true"></i></button>
		                </td>
		            </tr>
		            {{/each}}
		        	</tbody>
		        </table>
		    </div><!-- /.box-body -->
		</div>
	</div>

	<div class= "col-sm-6" style="padding-left: 0px">
	 <div class="box">
		    <div class="box-header">
		        <h3 class="box-title">Child Groups</h3>

		    </div><!-- /.box-header -->


		    <div class="box-body no-padding" style="max-height: 225px;overflow-y: scroll;">
		        <table class="table">
		            <tbody><tr>
		                <th>Name</th>
		                <th>Action</th>
		            </tr>

		            {{#each model.memberGroups as |memberGroup| }}
		            <tr>
		                <td>{{memberGroup.name}}</td>
		                <td>
		                	<button type="button" {{action "deleteGroupMember" memberGroup}} class="btn btn-sm btn-default mr-5" ><i class="fa fa-trash text-danger" aria-hidden="true"></i></button>
                   	 		<span class="{{if user.isLoading 'inlinedisplay' 'nodisplay'}}"><img src="/img/loading.gif" /></span>
		                </td>
		            </tr>
		            {{/each}}
		        	</tbody>
		        </table>
		    </div><!-- /.box-body -->
		</div>
	</div>

 </div>
 {{/if}}


<!-- add members to  group Popup-->
<div class="modal vcenter" id="members-add-modal" tabindex="-1" role="dialog" aria-labelledby="PopUp" data-backdrop="static" >
  <div class="modal-dialog modal-md" role="document">
    <div class="modal-content">
      <div class="modal-header">
      	<a class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></a>
        <h4 class="modal-title" id="myModalLabel">
        	Add members
      	</h4>
      </div>
      <div class="modal-body">
      	<div class="form-box group-form mtop-15">
          <div class="form-group">
            <div class="ol-user-list">
            <div><label>Add Users</label></div>
            {{#each newMembers as |user| }}
                <div class="share-with-email" >
                    <div class="s-list">
                        {{user.email}}
                        <span {{action "removeMember" user}} class="pointer close-slist"><i class="fa fa-times"></i></span>
                    </div>
                </div>
              {{/each}}
            	<div class="pos-rel"  >
         		   <div class="tooltip top-tooltip process-tip {{if userSearchTerm.length 'active' ''}}"   role="tooltip">
                            <div class="tooltip-arrow"></div>
                            <div class="tooltip-inner">Enter to add</div>
                       </div>
              		{{input type="text" class="form-control" placeholder="Email" value=userSearchTerm insert-newline='addMember'  }}<!--  ng-model-options="modelOptions"  ng-model="postGroup.memberSearchTerm" ng-keyup="searchMembersKeyUp($event);"> -->
                 	<!--Start User Tag Popup -->
                  	<!-- <ul class="dropdown-menu add-mem-box active display-block" id="addPostGroupMemberAutocomplete1" ng-show="postGroup.memberSearchTerm && wc.filteredUsers2.length">
                    <li><a href="javascript:void(0);" ng-click="addPostGroupMember(contact, $event);" ng-repeat="contact in wc.filteredUsers2 = (pageState.searchAutoSuggestUsers | filter : getMemberSearchTerm() | limitTo : 10)"  ng-class="{hovered:contact.isFocussed}"> <span class="menu-box"></span> <span class="menu-text">{{contact.label}}</span> </a> </li>
                    </ul> -->
    				<!--End User Tag Popup -->
              	</div>
            </div>
          </div>

          <div class="form-box group-form mtop-15">
            <div><label>Add child Groups.</label><br>
            <small>Tip: All child group members will be automatically added to parent group</small></div>
          <div class="form-group">
            <div class="ol-user-list">
            	<div class="pos-rel"  >
            	    {{#each addedGroups as |group| }}
                <div class="share-with-email" >
                    <div class="s-list">
                        {{group.label}}
                        <span {{action "removeGroup" group}} class="pointer close-slist"><i class="fa fa-times"></i></span>
                    </div>
                </div>
              {{/each}}
									{{select-box prompt='Add' content=myOwnedGroups
									className='form-control' didChangeAction='addGroup' }}
								</div>
				 <small  class="text-info {{if addedGroups.length 'nodisplay' 'inlinedisplay'}}">Tip : You must be admin in another group to add here.</small>

            </div>
          </div>
        </div>
        </div>
      </div>
      <div class="modal-footer" >
      	<div class="footer-btn-box">
            <button type="button" class="btn btn-lg btn-default mr-5" data-dismiss="modal"><i class="fa fa-chevron-left" aria-hidden="true"></i>Cancel</button>
            <button type="button"  class="btn btn-lg btn-primary" {{action "saveGroupMembers"}} data-dismiss="modal"><i class="fa fa-plus" aria-hidden="true"></i>Add</button>
          </div>
      </div>
 	</div>
 </div>
</div>


<!-- view members in  group Popup-->
{{group-item-view-members model=model   updateMember="updateMember" deleteMember="deleteMember" toggleBlockMember="toggleBlockMember" deleteGroupMember="deleteGroupMember" fetchMoreMembers="fetchMoreMembers"}}

<div class="modal vcenter" id="members-request-modal" tabindex="-1" role="dialog" aria-labelledby="PopUp" data-backdrop="static" >
  <div class="modal-dialog modal-md" role="document">
    <div class="modal-content">
      <div class="modal-header noborder">
      	<a class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></a>
        <h4 class="modal-title" id="myModalLabel">
        	{{model.name}} : Join requests <span class="{{if isLoading 'inlinedisplay' 'nodisplay'}}"><img src="/img/loading.gif" /></span>
      	</h4>

      </div>
      <div class="modal-body">
      	<div class="form-box group-form mtop-15"  >
          <div class="form-group">
            <div class="ol-user-list">
            {{#each model.joinRequests as |user| }}
                <div class="user-with-email" >
                    <div class="s-list">
                        {{user.email}}
                         <button type="button" {{action "deleteMember" user}} class="btn btn-sm btn-default mr-5" ><i class="fa fa-trash" aria-hidden="true"></i>Delete</button>
                      <div class="power-select-container pos-rel">
                       {{#power-select-multiple selected=user.roles  options=roles
	                        placeholder="Select roles" class="institute-member-role-select pos-rel" tagName=div
  							  onchange=(action (mut user.roles))  as |role| }}
							  {{role.label}}
							{{/power-select-multiple}}
							</div>
                         <button type="button" {{action "approveMember" user}} class="btn btn-sm btn-default mr-5 "><i class="fa fa-check" aria-hidden="true"></i>Approve</button>
                   <span class="{{if user.isLoading 'inlinedisplay' 'nodisplay'}}"><img src="/img/loading.gif" /></span>
                    </div>
                </div>
              {{/each}}

            </div>

            {{#if noJoinRequests}}
            <div>No join requests</div>
            {{/if}}
          </div>
        </div>

        <!-- user list end -->
      </div>
 	</div>
 </div>
</div>
