
  {{partial 'navbar'}}
  <div class="wrapper row-offcanvas row-offcanvas-left">
   {{#if isLoggedIn}}
            <!-- Left side column. contains the logo and sidebar -->
            <aside class="left-side sidebar-offcanvas" style="z-index: 12;">
                <!-- sidebar: style can be found in sidebar.less -->
                <section class="sidebar">
                    <!-- Sidebar user panel -->
                    <div class="user-panel">
                        <div class="pull-left image">
                            <img src="{{model.loginUser.photoUrl}}" class="img-circle" alt="User Image" />
                        </div>
                        <div class="pull-left info">
                            <p>Hello, {{model.loginUser.displayName}}</p>

                            <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
                        </div>
                    </div>
                    <!-- search form -->
                   <!-- <form action="#" method="get" class="sidebar-form">
                        <div class="input-group">
                            <input type="text" name="q" class="form-control" placeholder="Search..."/>
                            <span class="input-group-btn">
                                <button type='submit' name='seach' id='search-btn' class="btn btn-flat"><i class="fa fa-search"></i></button>
                            </span>
                        </div>
                    </form> -->
                    <!-- /.search form -->
                    <!-- sidebar menu: : style can be found in sidebar.less -->
                    <ul class="sidebar-menu">
   		        <!--        {{#nav-link-to 'dashboard'  tagName="li"}}
                             <i class="fa fa-dashboard"></i><span>Dashboard</span>
                        {{/nav-link-to}} -->
                        <li class="treeview">

                             <a href="javascript:void(0);">
                                <i class="fa fa-group fa-fw"></i> <span>Groups</span> <i class="fa fa-angle-left pull-right"></i>
                             </a>
                             <ul class="treeview-menu" style='max-height : 125px;overflow-y : auto'>

                     					 {{#each myGroups as |group|}}
                               {{#nav-link-to 'group.posts' group.id   tagName="li"}}<i class="fa fa-th"></i>{{group.name}}{{/nav-link-to}}
                             {{/each}}
                               </ul>

                        </li>
                        <li class="treeview">

                             <a href="#">
                                <i class="fa fa-edit"></i> <span>Create</span> <i class="fa fa-angle-left pull-right"></i>
                             </a>
                             <ul class="treeview-menu">
                                    {{#nav-link-to 'new.schedule'  tagName="li"}} <i class="fa fa-angle-double-right"></i>Schedule  {{/nav-link-to}}
                                    {{#nav-link-to 'group.task.create'  tagName="li"}} <i class="fa fa-angle-double-right"></i>Task  {{/nav-link-to}}
                                     {{#nav-link-to 'group.create'  tagName="li"}} <i class="fa fa-angle-double-right"></i>Group  {{/nav-link-to}}
                      		</ul>

                        </li>
                         <li class="treeview">
                                <div style="cursor:pointer; color: white;padding: 12px 15px 12px 15px;"  {{action "checkCalendarAauthentication" model on="click" on="touchEnd"}} >
	                                <i class="fa fa-calendar"></i> <span>Calendar</span>
	                     <!--            <small class="badge pull-right bg-red">todayScheduleCount}}</small> -->
                                </div>

                    	 </li>
          						 <li class="treeview">
                         <div style="cursor:pointer; color: white;padding: 12px 15px 12px 15px;" >
                            {{#nav-link-to 'quiz.grid'  tagName="li"}}
                              <i class="fa fa-edit"></i> <span>Quiz</span>
                              {{/nav-link-to}}
                          </div>
                        </li>
                    </ul>
                </section>
                <!-- /.sidebar -->
            </aside>
          {{/if }}
 			<aside class="right-side">

 						{{outlet}}


              </aside>
        </div><!-- ./wrapper -->

<footer class='page-footer'>
  <div class="container">

    <div class="row">
    <div class="col col-sm-6 pull-right">


      <div class="btn-group">
       <a class="btn btn-md" href="javascript:void(0);">Follow us</a>
      <!--  <a class="btn btn-twitter btn-md" href="javascript:void(0);"><i class="icon-twitter icon-large"></i> Twitter</a> -->
	   <a class="btn btn-facebook btn-md" href="https://www.facebook.com/AllSchool-1536209369774783/"><i class="icon-facebook icon-large"></i> Facebook</a>
	    {{#link-to 'terms' tagName="a" class="btn btn-md"}}Terms and conditions
      {{/link-to}}
	 <!--   <a class="btn btn-google-plus btn-md" href="javascript:void(0);"><i class="icon-google-plus icon-large"></i> Google+</a> -->
      </div>
<!--        <p class="pull-right">&copy; <i class="icon-heart-empty"></i> <a href="/">AllSchool 2017</a></p> -->
       <p class="pull-right">Contact @ Allschoolhelp@gmail.com</p>
    </div>

  </div>

  </div>
<!--   <div class='footer-ad'>
      	<a class="close" href="javascript:void(0);" {{action "hideAd"}} aria-label="Close"><span aria-hidden="true">&times;</span></a>
      <div>ad footer
      <ins class="adsbygoogle"
			 style="display:inline-block;width:728px;height:90px;"
			data-ad-client="ca-pub-4655130549677464"
			data-ad-slot=""></ins>
			<script>
		(adsbygoogle = window.adsbygoogle || []).push({});
		</script>
      </div>
  </div> -->

  <!-- ad block end -->
</footer>
