<section class="content-header">
    <h1>
        Home
        <small></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>

    </ol>
</section>


<section class="content" style="padding:0px">
  <div class="row">

      {{#each posts as |post|}}
        	 <div class="col-md-12 col-lg-12  col-sm-12">
        		{{#if post.isTask}}
        			{{task-item item=post editTask="editTask" deletePost="deletePost"   }}
        		{{else if post.isPost}}
        			{{post-item item=post updatePost="savePost" deletePost="deletePost"   }}
        		{{else if post.isSchedule}}
        			{{schedule-item item=post updatePost="savePost" deletePost="deletePost"  }}
        		{{/if}}
        	</div>
      {{/each}}

      {{#if noRecords}}
          <div class="error-page">
              <h2 class="headline text-info"> Hi..</h2>
              <div class="error-content">
                  <h3><i class="fa fa-smile-o text-green"></i> Welcome to AllSchool.</h3>
                  <p>
                      Now its even easier to manage your academic-schedules and files with AllSchool. Go and start a
                      discussion or share your study material among your peer groups.
                  </p>
              </div>
          </div>
  {{/if}}
  </div>
</section>
