 <header class="header">
            
            <a href="/home"  class="logo">
            	 AllSchool
                <!-- Add the class icon to your logo image or logo icon to add the margining -->
             
            </a>
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top" role="navigation" style="padding-right: 20px;">
                <!-- Sidebar toggle button-->
                 {{#if isLoggedIn}}
                <a href="javascript:void(0);" class="navbar-btn sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                {{/if}}
                <div class="navbar-right">
                    <ul class="nav navbar-nav">
                        <!-- Messages: style can be found in dropdown.less--> 
                         {{#if isLoggedIn}}
						<!--	<li><a href="/a/public/logout"><i class="fa fa-sign-out fa-fw"></i>  Logout</a></li> -->
                        {{else}}
			                 <li class="dropdown">
			             		<!--  <a href="/a/oauth/googleLogin"><i class="fa fa-user fa-fw"></i> Login</a> -->
			             		 <a href="/a/oauth/googleLogin" class="no-padding"><img src="/img/btn_google_signin_dark_pressed_web.png" class="login-google-btn" /></a>
			                 </li>                         	
                        
		                {{/if}}
                      
                      {{#if showNotifications}}
                        <!-- Notifications: style can be found in dropdown.less -->
                        <li class="dropdown notifications-menu">
                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-bell {{if newNotifications 'text-danger' '' }}"></i>
                                <span class="label label-warning"><!-- 10 --></span>
                            </a>
                            <ul class="dropdown-menu">
                              <!--   <li class="header">You have new notifications</li> -->
                                <li>
                                    <!-- inner menu: contains the actual data -->
                                    <ul class="menu">
                                    {{#each notifications as |notification|}}
                                        <li class="notification-li">
                                             <a href="javascript:void(0);" {{action "notificationClick" notification}}>
                                                   <div>
                                                   <div class='notification-msg'>
                                    <i class="fa fa-comment fa-fw"></i><span class="text-primary">{{notification.senderName}}</span> {{notification.actionKey}} 
                                    {{#if notification.showGroupName}}
                                    <span class="text-primary">{{notification.groupName}} </span> 
                                    {{/if}}
                                    </div>
                                    <span class="pull-right text-muted small mtop3">{{notification.createdDisplayTime}}</span>
                                </div>
                                {{#if notification.showTitle}}
                                <div>{{notification.title}}</div>
                                {{/if}}
                                            </a>
                                        </li>
                                         {{/each}}
                                        
                  <!--                       
                                        <li>
                                            <a href="javascript:void(0);">
                                             <i class="ion ion-ios7-people info"></i> 5 new members joined today
                                                <i class="fa fa-warning danger"></i> Very long description here that may not fit into the page and may cause design problems
                                                   <i class="fa fa-users warning"></i> 5 new members joined
                                                    <i class="ion ion-ios7-cart success"></i> 25 sales made
                                                     <i class="ion ion-ios7-person danger"></i> You changed your username
                                            </a>
                                        </li> -->
                                       
                                    </ul>
                                </li>
                               <!--  <li class="footer"><a href="javascript:void(0);">View all</a></li> -->
                            </ul>
                        </li>
                          {{/if}}
                           {{#if isLoggedIn}}
                        <!-- Tasks: style can be found in dropdown.less -->
                   <!--      <li class="dropdown tasks-menu">
                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-tasks"></i>
                                <span class="label label-danger">9</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="header">You have 9 tasks</li>
                                <li>
                                    inner menu: contains the actual data
                                    <ul class="menu">
                                        <li>Task item
                                            <a href="javascript:void(0);">
                                                <h3>
                                                    Design some buttons
                                                    <small class="pull-right">20%</small>
                                                </h3>
                                                <div class="progress xs">
                                                    <div class="progress-bar progress-bar-aqua" style="width: 20%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                                        <span class="sr-only">20% Complete</span>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>end task item
                                        <li>Task item
                                            <a href="javascript:void(0);">
                                                <h3>
                                                    Create a nice theme
                                                    <small class="pull-right">40%</small>
                                                </h3>
                                                <div class="progress xs">
                                                    <div class="progress-bar progress-bar-green" style="width: 40%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                                        <span class="sr-only">40% Complete</span>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>end task item
                                        <li>Task item
                                            <a href="javascript:void(0);">
                                                <h3>
                                                    Some task I need to do
                                                    <small class="pull-right">60%</small>
                                                </h3>
                                                <div class="progress xs">
                                                    <div class="progress-bar progress-bar-red" style="width: 60%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                                        <span class="sr-only">60% Complete</span>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>end task item
                                        <li>Task item
                                            <a href="javascript:void(0);">
                                                <h3>
                                                    Make beautiful transitions
                                                    <small class="pull-right">80%</small>
                                                </h3>
                                                <div class="progress xs">
                                                    <div class="progress-bar progress-bar-yellow" style="width: 80%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                                        <span class="sr-only">80% Complete</span>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>end task item
                                    </ul>
                                </li>
                                <li class="footer">
                                    <a href="javascript:void(0);">View all tasks</a>
                                </li>
                            </ul>
                        </li> -->
                        {{/if}}
                        <!-- User Account: style can be found in dropdown.less -->
                        {{#if isLoggedIn}}
                         
	                         <li class="dropdown user user-menu">
	                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
	                               <img width="18" src="{{model.loginUser.photoUrl}}">
	                                <span>{{model.loginUser.displayName}} <i class="caret"></i></span>
	                            </a>
	                            <ul class="dropdown-menu">
	                                <!-- User image -->
	                                <li class="user-header bg-light-blue">
	                                    <img src="{{model.loginUser.photoUrl}}" class="img-circle" alt="User Image" />
	                                    <p>
	                                        {{model.loginUser.displayName}}<!--  - Web Developer
	                                        <small>Member since Nov. 2012</small> -->
	                                    </p>
	                                </li>
	                                <!-- Menu Body -->
	                         <!--   <li class="user-body">
	                                    <div class="col-xs-4 text-center">
	                                        <a href="#">Followers</a>
	                                    </div>
	                                    <div class="col-xs-4 text-center">
	                                        <a href="#">Sales</a>
	                                    </div>
	                                    <div class="col-xs-4 text-center">
	                                        <a href="#">Friends</a>
	                                    </div>
	                                </li>
	                           -->     
	                                <!-- Menu Footer-->
	                                <li class="user-footer">
	                                    <div class="pull-left">
	                                        {{#link-to 'profile'  class="btn btn-default btn-flat"}}Profile
	    										  {{/link-to}}
	                                    </div>
	                                    <div class="pull-right">
	                                        <a href="/a/public/logout" class="btn btn-default btn-flat">Sign out</a>
	                                    </div>
	                                </li>
	                            </ul>
	                        </li>
                      
                        {{/if}}
                    </ul>
                </div>
            </nav>
        </header>
