<div class="form-horizontal profile-info">
    <h2 class="text-center profile-heading">Profile</h2>

    <div class="panel panel-primary panel-sections personal-top-section">
        <div class="panel-body">
            <div class="panel-section">
                <div class="panel-section-left pull-left">
                    <div class="profile-image-wrapper">
                        <img src="{{model.photoUrl}}" class="avatar" width="90" />
                        <span class="{{if isSaving 'inlinedisplay' 'nodisplay' }}"><img src="/img/loading.gif" /></span>
                        <button type="button"   onclick="$('#photo-upload').click();" class="btn btn-default" disabled={{if isSaving true}}>Change</button>
                        {{#if model.hasUploadedPhoto}}
                            <button type="button"   {{action 'removePhoto' model}} class="btn btn-default" disabled={{if isSaving true}}>Remove</button>
                        {{/if}}
                        <input accept="image/*"  id="photo-upload" onchange={{action "uploadPhoto"}} type="file" style="width: 0px; height: 0px; overflow: hidden;">
                    </div>
                    <div class="profile-info-wrapper">
                        <label class="profile-name">{{model.firstName}} {{model.lastName}}</label>
                        <label class="profile-email">{{model.email}}</label>
                        <label class="profile-phoneNumber">{{model.phoneNumber}}</label>
                        <label class="profile-currentCity">{{model.currentCity}}</label>
                    </div>
                </div>
                <div class="panel-section-right pull-right" data-target="#profile-info" data-toggle="modal">
                    <i class="fa fa-pencil panel-section-edit"></i>
                </div>
            </div>
            <div class="panel-section">
                <div class="profile-about">
                    {{model.about}}
                </div>
            </div>
        </div>
    </div>

    {{modal/profile/profile-info-modal item=model update="updateProfileInfo"}}

    <div class="panel panel-primary panel-sections certifications">
        <div class="panel-heading">
        <h2>Certifications</h2>
        <button type="button" class="btn btn-default" data-target="#certificate-0" data-toggle="modal">Add</button>
        </div>
        <div class="panel-body">
        {{#each model.certificates as |certificate index|}}
            <div class="certificate panel-section">
            <div class="panel-section-left pull-left">
                <div class="form-group has-feedback">
                <label class="control-label col-sm-2 col-xs-6">Name</label>
                <label class="col-sm-10 col-xs-6 lbl_data">{{certificate.name}}</label>
                </div>
                <div class="form-group has-feedback">
                <label class="control-label col-sm-2 col-xs-6">Certification Date</label>
                <label class="col-sm-10 col-xs-6 lbl_data">{{certificate.date}}</label>
                </div>
                <div class="form-group has-feedback">
                <label class="control-label col-sm-2">Organisation</label>
                <label class="col-sm-10 col-xs-6 lbl_data">{{certificate.organisation}}</label>
                </div>
                <div class="form-group has-feedback">
                <label class="control-label col-sm-2">Grade</label>
                <label class="col-sm-10 col-xs-6 lbl_data">{{certificate.grade}}</label>
                </div>
            </div>

            <div class="panel-section-right pull-right">
                <i class="fa fa-pencil panel-section-edit" data-target="#certificate-{{certificate.certificateId}}" data-toggle="modal"></i>
                <i class="fa fa-trash panel-section-delete" data-target="#delete-certificate-{{certificate.certificateId}}" data-toggle="modal"></i>
            </div>
            </div>
        {{/each}}
        </div>
    </div>

    {{modal/profile/certificate-modal appUserId=model.id update="saveCertificate"}}

    {{#each model.certificates as |certificate index|}}
        {{modal/profile/certificate-modal appUserId=model.id item=certificate update="updateCertificate"}}
        {{modal/core/delete-modal item=index modalId=(concat "delete-certificate-" certificate.certificateId) delete="deleteCertificate"}}
    {{/each}}

    <div class="panel panel-primary panel-sections personal-info">
        <div class="panel-heading">
            <h2>Personal Information</h2>
            <div class="panel-section-right pull-right" data-target="#personal-info" data-toggle="modal">
                <i class="fa fa-pencil panel-section-edit"></i>
            </div>
        </div>
        <div class="panel-body">
            <div class="panel-section">
            <div class="panel-section-left pull-left">
                <div class="form-group has-feedback">
                <label class="control-label col-sm-2">DOB</label>
                <label class="col-sm-10 col-xs-6 lbl_data">{{model.dob}}</label>
                </div>
                <div class="form-group has-feedback">
                <label class="control-label col-sm-2">Hometown</label>
                <label class="col-sm-10 col-xs-6 lbl_data">{{model.homeTown}}</label>
                </div>
            </div>
            </div>
        </div>
    </div>

    {{modal/profile/personal-info-modal item=model update="updatePersonalInfo"}}
       
    <div class="form-group">
       <label class="col-sm-2 control-label">Google Drive  </label>
       <div class="col-sm-10">
              
                       
        <i {{action "toggleGoogleDrive"}} class="fa fa-2x {{if model.useGoogleDrive 'fa-toggle-on text-primary' 'fa-toggle-off'  }}" aria-hidden="true"></i>
        {{#if model.useGoogleDrive}}
        <span class="connectedAccount">Connected account : {{model.refreshTokenAccountEmail}}</span>
        {{/if}}
        <div>On enabling Google Drive storage we will save all your uploads to your Google Drive. All files will be uploaded to folder "AllSchool" .
              We will not access your personal files on Google Drive. 
              You must have a google account to enable this feature. Google drive removes 10MB upload limit.</div>
       </div>
    </div>
    
             <div class="form-group">
       <label class="col-sm-2 control-label">Google Calendar  </label>
       <div class="col-sm-10 ">
                   {{#if model.useGoogleCalendar}}
        <span class="connectedAccount">Connected account : {{model.refreshTokenAccountEmail}}</span>
        {{/if}}
        <i {{action "toggleGoogleCalendar"}} class="fa fa-2x {{if model.useGoogleCalendar 'fa-toggle-on text-primary' 'fa-toggle-off'  }}" aria-hidden="true"></i>
        <div>On enabling Calendar, we will save all your events to your Google Calendar.  You must have a google account to enable this feature.</div>
       </div>
    </div>
               
    <!--<div class="form-group has-feedback {{if model.isValidFirstName 'has-success' 'has-error'}}">
        <label class="col-sm-2 control-label">Frist name*</label>
        <div class="col-sm-10">
          {{input type="text" value=model.firstName class="form-control" placeholder="First name"}}
          {{#if model.isValid}}<span class="glyphicon glyphicon-ok form-control-feedback"></span>{{/if}}
        </div>
    </div>
    <div class="form-group has-feedback {{if model.isValidLastName 'has-success' 'has-error'}}">
        <label class="col-sm-2 control-label">Last name*</label>
        <div class="col-sm-10">
          {{input type="text" value=model.lastName class="form-control" placeholder="Last name"}}
        </div>
    </div>
    
        <div class="form-group has-feedback {{if  model.isInValidPassword 'has-error'}}">
        <label class="col-sm-2 control-label">Change Password</label>
        <div class="col-sm-10">
          {{input type="text" value=model.password class="form-control" placeholder="Password"}}
        </div> 
    </div>
    
    <div class="form-group">
        <label class="col-sm-2 control-label">Retype new password</label>
        <div class="col-sm-10">
          {{input type="text" value=model.password2 class="form-control" placeholder="Confirm password"}}
        </div>
    </div>-->
    
    
    <div class="form-group">
        <label class="col-sm-2 control-label">Institutes</label>
        <div class="col-sm-10">
          <button type="submit" class="btn btn-default" {{action 'addInstituteBtnClick' }}  disabled={{if isSaving true}}>Add</button>
        </div>
        <div class="col-sm-10 col-sm-offset-2">
            {{#each model.institutes as |institute|}}
                <div >
	                {{#nav-link-to 'institute.public' institute.id tagName="a"}}{{institute.name}}{{/nav-link-to}}, Position : 
					{{#each institute.positions as |position|}}
	                	<span class="file-tag blue" > {{position}}</span>
	    			{{/each}}
			    </div>
			{{/each}}
        </div>
    </div>
    
   
    {{#each model.instituteMembers as |instituteMember|}}
    <div class="box box-primary">
        <div class="box-header">
            <h3 class="box-title">{{instituteMember.organization}}</h3>
        </div><!-- /.box-header -->
        <!-- form start -->
        <form role="form">
            <div class="box-body">
                <div class="form-group">
			        <label class="col-sm-2 control-label">Unique Id</label>
			        <div class="col-sm-10">
			          {{input type="text" value=instituteMember.uniqueId class="form-control" placeholder="Unique Id"}}
			        </div>
			    </div>
			    
			    <div class="form-group">
			        <label class="col-sm-2 control-label">Roll Number</label>
			        <div class="col-sm-10">
			          {{input type="text" value=instituteMember.rollNo class="form-control" placeholder="Roll Number"}}
			        </div>
			    </div>
            </div><!-- /.box-body -->

            <div class="box-footer">
                <button {{action 'saveInstitutesInformation' instituteMember}} class="btn btn-primary">Save Info.</button>
            </div>
        </form>
    </div>
    {{/each}}
    
    
     
    <br>
   <h3 class="">Notifications</h3>
        <hr />
    
        
    <div class="form-group">
        <label class="col-sm-2 control-label">
       	 <i {{action "toggleValue" "sendGroupPostEmail"}} class="fa fa-2x {{if model.sendGroupPostEmail 'fa-toggle-on text-primary' 'fa-toggle-off'  }}" aria-hidden="true"></i>
        </label>
        <div class="col-sm-10">
        Email when someone posts in group.
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">
       	 <i {{action "toggleValue" "sendGroupPostMentionEmail"}} class="fa fa-2x {{if model.sendGroupPostMentionEmail 'fa-toggle-on text-primary' 'fa-toggle-off'  }}" aria-hidden="true"></i>
        </label>
        <div class="col-sm-10">
        Email when someone tags you in group post.
        </div>
    </div>
        <div class="form-group">
        <label class="col-sm-2 control-label">
       	 <i {{action "toggleValue" "sendPostCommentedEmail"}} class="fa fa-2x {{if model.sendPostCommentedEmail 'fa-toggle-on text-primary' 'fa-toggle-off'  }}" aria-hidden="true"></i>
        </label>
        <div class="col-sm-10">
        Email when someone comments on your post.
        </div>
    </div>
        <div class="form-group">
        <label class="col-sm-2 control-label">
       	 <i {{action "toggleValue" "sendCommentMentiondEmail"}} class="fa fa-2x {{if model.sendCommentMentiondEmail 'fa-toggle-on text-primary' 'fa-toggle-off'  }}" aria-hidden="true"></i>
        </label>
        <div class="col-sm-10">
        Email when someone mentions you in comments.
        </div>
    </div>
        <div class="form-group">
        <label class="col-sm-2 control-label">
       	 <i {{action "toggleValue" "sendCommentOnMentiondPostEmail"}} class="fa fa-2x {{if model.sendCommentOnMentiondPostEmail 'fa-toggle-on text-primary' 'fa-toggle-off'  }}" aria-hidden="true"></i>
        </label>
        <div class="col-sm-10">
        Email when someone comments on a post you are tagged in.
        </div>
    </div>
        <div class="form-group">
        <label class="col-sm-2 control-label">
       	 <i {{action "toggleValue" "sendCommentReplyEmail"}} class="fa fa-2x {{if model.sendCommentReplyEmail 'fa-toggle-on text-primary' 'fa-toggle-off'  }}" aria-hidden="true"></i>
        </label>
        <div class="col-sm-10">
        Email when replies to your comment
        </div>
    </div>
        <div class="form-group">
        <label class="col-sm-2 control-label">
       	 <i {{action "toggleValue" "sendCommentOnCommentEmail"}} class="fa fa-2x {{if model.sendCommentOnCommentEmail 'fa-toggle-on text-primary' 'fa-toggle-off'  }}" aria-hidden="true"></i>
        </label>
        <div class="col-sm-10">
        Email when someone comments or replies to a comment
        </div>
    </div>
    
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
        <span class="{{if isSaving 'inlinedisplay' 'nodisplay' }}"><img src="/img/loading.gif" /></span>
            <button type="submit" class="btn btn-default" {{action 'saveProfile' item}} disabled={{unless model.isValid true}} disabled={{if isSaving true}}>Save</button>
          {{#nav-link-to 'dashboard'   class="btn btn-default"  tagName="button"}}Cancel
              {{/nav-link-to}}
        </div>
    </div>
</div>

<!-- add institutes Popup-->
<div class="modal vcenter" id="add-institute-modal" tabindex="-1" role="dialog" aria-labelledby="PopUp" data-backdrop="static" >
  <div class="modal-dialog modal-md" role="document">
    <div class="modal-content">
      <div class="modal-header"> 
      	<a class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></a>
        <h4 class="modal-title" id="myModalLabel"> 
        	Add Institute
      	</h4>
      </div>
      <div class="modal-body">
      	<div class="form-box group-form mtop-15">
          <div class="form-group">
            <div class="ol-user-list">     
                        	<div class="pos-rel"  >
         		   <div class="tooltip top-tooltip process-tip {{if instituteSearchTerm.length 'active' ''}}"   role="tooltip">
                            <div class="tooltip-arrow"></div>
                            <div class="tooltip-inner">Enter to search</div>
                       </div>
              		{{input type="text" class="form-control" placeholder="Institute name" value=instituteSearchTerm insert-newline='searchInstitutes'  }}
              	</div>
              	 
             <span class="{{if showLoadingInstitutes 'inlinedisplay' 'nodisplay' }}"><img src="/img/loading.gif" /></span><br>
             <div class="{{if noInstitutes 'inlinedisplay' 'nodisplay' }}">No result for search term : <b>{{instituteSearchTerm}}</b>. <button type="button"  class="btn btn-lg btn-primary" {{action "createNewInstitute"}} data-dismiss="modal"><i class="fa fa-plus" aria-hidden="true"></i> create institute {{instituteSearchTerm}}</button></div>
             
            {{#each searchInstitutes as |institute| }}    	
                <div class="share-with-email" >
                    <div class="s-list">
                        {{#nav-link-to 'institute.public' institute.id tagName="a" }}
    		{{institute.name}} 
    		{{/nav-link-to}}
    		{{#if institute.isJoinRequested}}
                      Joined
                  {{else if institute.isJoinRequested}}
                  Request sent
                  	{{else}}
                  	 <button type="button" data-dismiss="modal" {{action "joinInstituteClick" institute}} class="btn btn-sm btn-default mr-5 "><i class="fa fa-check" aria-hidden="true"></i>Join</button>
                  	{{/if}}
                    </div>
                </div>
              {{/each}}

            </div>
          </div>
          
        </div>
      </div>
      <div class="modal-footer" >
      	<div class="footer-btn-box">
            <button type="button" class="btn btn-lg btn-default mr-5" data-dismiss="modal"><i class="fa fa-chevron-left" aria-hidden="true"></i>Cancel</button>
          </div>
      </div>
 	</div>
 </div>
</div>